.search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  align-items: center;
  span {
    margin-right: 20px;
  }
  input[type='date'] {
    width: 200px;
    height: 30px;
    padding: 0 10px;
  }

  input[type='button'] {
    width: 50%;
    height: 34px;
    padding: 0 20px;
    background-color: transparent;
    outline: none;
    float: right;
    font-weight: bold;
  }
}
