/* scss-docs-start gray-color-variables */
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$black: #000 !default;
$black-100: #282936 !default;
$red: #FF0000;
$active-bg-color: #c3c3c3;
$border-color: #808080;

/* Breakpoints */
$breakpoint-tablet: 768px;

/* Shadows */
$gray-300-shadow: 5px 5px 5px
rgba(68, 68, 68, 0.6);


